<ion-router-outlet id="menuContent"></ion-router-outlet>
<ion-header >
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <img src="assets/images/logo-tm.png" style="padding-left:20px; width: 120px;"/>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content style="--background: #f3f3f305;">
    <!-- <ion-card style="margin-bottom: 20px;">
        <h3></h3>
        <p>This questionnaire consists of 35 questions and will only take 5 to 10 minutes to complete. Your contribution will be much appreciated.</p>
    </ion-card> -->
    <ion-grid>
        <ion-row>
            <strong>Step 1 - Banking Basics</strong>
        </ion-row>
        <ion-row>
            Banking fundamentals refer to the concepts and principles relating to the practice of banking. Banking is an industry that deals with credit facilities, storage for cash, investments, and other financial transactions. The banking industry is one of the key drivers of most economies because it channels funds to borrowers with productive investments.
        </ion-row>
        <ion-row>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/eLH0k7UL4OA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-row>
        <ion-row>
            <strong>Step 2 - How To Do A Balance Sheet</strong>
        </ion-row>
        <ion-row>
            Balance Sheet is the financial statement of a company which includes assets, liabilities, equity capital, total debt, etc. at a point in time. Balance sheet includes assets on one side, and liabilities on the other. For the balance sheet to reflect the true picture, both heads (liabilities & assets) should tally (Assets = Liabilities + Equity)
        </ion-row>
        <ion-row>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/hhKO6MRvk_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-row>
        <ion-row>
            <strong>Step 3 - Choosing the right Loan</strong>
        </ion-row>
        <ion-row>
            Getting a business loan sounds simple—until you realize how many types of loans exist and how many lenders offer those loans. Suddenly, you find yourself overwhelmed by choices that you didn’t even know existed.
        </ion-row>
        <ion-row>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JqBESJGmIS0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-row>
        <ion-row>
            <strong>Other Articles</strong>
        </ion-row>
        <ion-row>
            <a href="https://www.linkedin.com/learning/finance-essentials-for-small-business/five-characteristics-of-businesses-that-fail?u=71753745">Finance Essentials for Small Business</a>
        </ion-row>
        <ion-row>
            <a href="https://www.linkedin.com/learning/banking-for-small-business/banking-and-business-getting-started?u=71753745">Banking for Small Business</a>
        </ion-row>
        <ion-row>
            <a href="https://www.linkedin.com/learning/paths/become-a-small-business-owner?u=71753745">Becddoming a Small Business Owner</a>
        </ion-row>  
        <ion-row style="align-items: center;">
            <ion-col style="text-align: center; margin-top: 20px;" class="ion-align-self-center">
                <ion-button type="submit" class="button" (click)="takeTest()">TAKE A TEST</ion-button>
            </ion-col>
        </ion-row>        
    </ion-grid>
</ion-content>