<ion-router-outlet id="menuContent"></ion-router-outlet>
<!-- <ion-header >
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <img src="assets/images/logo-tm.png" style="padding-left:20px; width: 120px;"/>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-content style="margin: 10px;">

    <!-- <ion-row lines="none" style="margin-top: 30px">
        <div style="font-size: 22px; color:#646464; padding-right: 10px;">Welcome to</div>
    </ion-row>
    <ion-row lines="none">
        <span style="font-size: 22px; font-weight: 600; color:#694ed6af">TRUST MACHINE</span>
    </ion-row>

    <ion-grid>
        <ion-row>
            <ion-col size="2" class="step-container">
                <div class="line">
                    <div class="step-point-one"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 100px; border-radius: 10px; 
                background: url('assets/images/bg_main.png') 100%; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/educate')">
                    <div style="font-size: 26px; color:#fed100; margin-top: 20px; padding-left: 30px;">Learn</div>
                    <div style="font-size: 22px; color:#ffffff; padding-left: 35px;">more</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2" class="step-container">
                <div class="line">
                    <div class="step-point-one"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 100px; border-radius: 10px; 
                background: url('assets/images/bg_main.png') 100% 100%; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/selectcoach')">
                    <div style="font-size: 26px; color:#fed100; padding-left: 30px; padding-top: 20px;">Find</div>
                    <div style="font-size: 22px; color:#ffffff; padding-left: 35px;">coach</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2" class="step-container">
                <div class="line">
                    <div class="step-point-one"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 100px; border-radius: 10px; 
                background: url('assets/images/bg_main.png') center; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/loanapplication')">
                    <div style="font-size: 26px; color:#fed100; margin-top: 20px; padding-left: 30px;">Business</div>
                    <div style="font-size: 22px; color:#ffffff; padding-left: 35px;">information</div>
            </ion-col>
        </ion-row>






        <ion-row style="margin-left: 100px;">
            <ion-col size="2" style="text-align: center; height: 80px;">
                <div class="line">
                    <div class="step-point-two"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 50px; border-radius: 10px; 
                background: url('assets/images/bg_main_1.png') 100%; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/loanapplication')">
                    <div style="font-size: 26px; color:#424242; padding: 5px;">
                        Business<span style="font-size: 22px; color:#080707; padding-left: 5px;">information</span>
                    </div>
            </ion-col>
        </ion-row>


        <ion-row style="margin-left: 100px;">
            <ion-col size="2" style="text-align: center; height: 80px;">
                <div class="line">
                    <div class="step-point-two-inactive"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 50px; border-radius: 10px; 
                background: url('assets/images/bg_main_1.png') 60% 60%; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/borrowerbusinessinfo')">
                    <div style="font-size: 26px; color:#424242; padding: 5px;">
                        Business<span style="font-size: 22px; color:#080707; padding-left: 5px;">information</span>
                    </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="2"class="step-container">
                <div class="line">
                    <div class="step-point-one-inactive"></div>
                </div>
            </ion-col>
            <ion-col size="10"  *ngIf="!dataService.coachEmail" style="top: 20px; position: relative; width: 100%; height: 100px; border-radius: 10px; 
                background: url('assets/images/bg_main.png') 100%; border: solid 1px #dbdbdb;overflow: hidden;" (click)="navigate('user/balancesheet')">
                    <div style="font-size: 26px; color:#fed100; margin-top: 20px; padding-left: 30px;">Balance</div>
                    <div style="font-size: 22px; color:#ffffff; padding-left: 35px;">sheet</div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <br /><br /><br /><br /><br /> -->

    <ion-row style="margin: 0px; padding: 0px; margin-top: 30px">
        <ion-col size="8">
            <ion-row lines="none">
                <div style="font-size: 22px; color:#646464;">Welcome to</div>
            </ion-row>
            <ion-row lines="none">
                <span style="font-size: 22px; font-weight: 600; color:#694ed6af; padding-left: 5px;">TRUST MACHINE</span>
            </ion-row>
        </ion-col>
        <ion-col size="4" style="text-align: right;">
            <div style="font-size: 12px; color:#383838; margin-right: 5px; padding: 5px 0px; width: 80%;" *ngIf="dataService.coachEmail" (click)="navigate('user/chat')">
                <span style="font-size: 22px; color:#df096d; font-weight: 400; padding-left: 25px;">
                    <i class="fa fa-comments-o" style="margin-right: 1px;"></i> Chat
                </span>
                <br /><span style="padding-left: 50px;">with coach</span>
            </div>

            <div style="font-size: 12px; color:#383838; margin-right: 5px; padding: 5px 0px; width: 80%;" *ngIf="!dataService.coachEmail" (click)="navigate('user/selectcoach')">
                <span><i class="fa fa-search" style="margin-right: 1px;"></i> Find</span><br />
                <span style="font-size: 22px; color:#df096d; font-weight: 400;">
                    Coach
                </span>
            </div>
        </ion-col>
    </ion-row>

    <ion-row lines="none" style="margin-top: 20px;">
        <ion-col class="left-top-active" (click)="navigate('user/educate')">
            <div class="head1">Start</div>
            <div class="head2">Journey</div>
            <div [ngClass]="{'left-top-undone': !dataService.isLearningCompleted, 'left-top-done': dataService.isLearningCompleted}"></div>
        </ion-col>
        <ion-col [ngClass]="{'right-top-inactive': !dataService.isLearningCompleted, 'right-top-active': dataService.isLearningCompleted}" (click)="navigate('user/loandetailspages')">
            <div class="head1">Loan</div>
            <div class="head2">Details</div>
            <div [ngClass]="{'right-top-undone': !dataService.isLoanDetailsCompleted, 'right-top-done': dataService.isLoanDetailsCompleted}"></div>
        </ion-col>
    </ion-row>

    <ion-row lines="none" style="margin-top: 20px;">
        <ion-col [ngClass]="{'left-bottom-inactive': !dataService.isLoanDetailsCompleted, 'left-bottom-active': dataService.isLoanDetailsCompleted}" (click)="navigate('user/suggestedproducts')">
            <div class="head1">Suggested</div>
            <div class="head2">Product</div>
            <div [ngClass]="{'left-bottom-undone': !dataService.isSuggestedProductCompleted, 'left-bottom-done': dataService.isSuggestedProductCompleted}"></div>
        </ion-col>
        <ion-col [ngClass]="{'right-bottom-inactive': !dataService.isSuggestedProductCompleted, 'right-bottom-active': dataService.isSuggestedProductCompleted}" (click)="navigate('user/financialforecast')">
            <div class="head1">Financial</div>
            <div class="head2">Forecast</div>
            <div [ngClass]="{'right-bottom-undone': !dataService.isSuggestedProductCompleted, 'right-bottom-done': dataService.isSuggestedProductCompleted}"></div>
        </ion-col>
    </ion-row>

    <!--NOTIFICATION-->
    <ion-row *ngIf="dataService.isLoanDetailsCompleted && !dataService.isSuggestedProductCompleted" style="padding: 10px; margin: 15px; border-radius: 10px; vertical-align: middle; background-color: #fff56c;">
        <ion-col size="11">
            <strong style="font-size: 16px; color: #383838;">Your have a pending loan application</strong>
        </ion-col>
        <ion-col size="1" style="font-size: 12px;">
            <span (click)="hideMessage()"><i class="fa fa-times-circle fa-2x"></i></span>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="dataService.isSuggestedProductCompleted" style="padding: 10px; margin: 15px; border-radius: 10px; vertical-align: middle; background-color: #fff56c;">
        <ion-col size="11">
            <strong style="font-size: 16px; color: #383838;">Your have recieved loan suggestions</strong>
        </ion-col>
        <ion-col size="1" style="font-size: 12px;">
            <span (click)="hideMessage()"><i class="fa fa-times-circle fa-2x"></i></span>
        </ion-col>
    </ion-row>

    <ion-row lines="none" style="margin-top: 10px; margin-bottom: 10px;">
        <span style="font-size: 20px; font-weight: 400; color:#868586">GETTING STARTED</span>
    </ion-row>
    <ion-row lines="none">
        <ion-slides pager="true">
            <ion-slide>
                <img src="assets/images/profile-wider-play_1.png" style="border-radius: 10px; "/>
            </ion-slide>
            <ion-slide>
                <img src="assets/images/profile-wider-play_2.png" style="border-radius: 10px; "/>
            </ion-slide>
            <ion-slide>
                <img src="assets/images/profile-wider-play_3.png" style="border-radius: 10px; "/>
            </ion-slide>
        </ion-slides>        
    </ion-row>
   
    <ion-row lines="none" style="margin-bottom: 5px; margin-top: 10px; color: #dfdfdf; font-size:18px;">
        <ion-col size="1"><i class="fa fa-question-circle fa-2x" style="margin-right:5px"></i></ion-col>
        <ion-col size="11">
            Help Center <br />
            <span style="font-size: 14px;">Get started with some tutorials</span>
        </ion-col>
    </ion-row>
</ion-content>
