.card-background-page {
    .header-div {
        text-align: center;

    }

    ion-card {
        position: relative;
        text-align: left;
    }

    .card-title {
        position: absolute;
        top: 36%;
        left: 140px;
        font-size: 1.1rem;
        word-wrap: break-word;
        font-weight: bold;
        color: #fff;
        margin-right: 0.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


:host {
    ion-content {
        --text-align: center;
    }

    ion-row {
        margin: 0 20px;
    }

    ion-card {
        background: #ffffff;
        color: #000000;
        border-radius: 30px;
        margin: 0px 15px;
        padding: 15px 30px;
        top:-40px;
        position: relative;
        -webkit-box-shadow: 3px 3px 5px 2px #b3b3b3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 5px 2px #b3b3b3;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 5px 2px #b3b3b3;
    }


    ion-label {
        color:#ffffff;
    }

    ion-select {
        color:#ffffff;
        font-weight: bold;
    }

    ion-header {
        color:#ffffff;
        --background: red;
    }

    ion-toolbar {
        --background: #694ed6;
    }

    ion-list {
        --background: red;
    }

    ion-list {
        --background: red;
        ion-item {
            --background: transparent;
        }
    }
}

.button {
  --width: 60px;
  --border-radius: 20px;
  --vertical-align: middle;
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --background: #dfb800;
  --color:#ffffff;
  --font-weight: bold;
}